@{
    ViewData["Title"] = "Pages";
}
@model List<ProductViewModel>
<h1>Pages</h1>
<h2>page : @ViewBag.page</h2>
<h2>page size : @ViewBag.pageSize</h2>

<table class="table">
      <a class="btn btn-primary mb-2 " asp-controller="products" asp-action="add">Urun ekle</a>
    <thead>
        <tr>
            <th>Id</th>
            <th>Isim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayinlansin mi ?</th>
            <th>Sure(Ay)</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @if (@item.IsPublish)
                    {
                        <text>Evet</text>
                    }
                    else
                    {
                        <text>Hayir</text>

                    }
                </td>
                <td>@item.Expire</td>
                <td>
                    @if (item.Description.Length > 20)
                    {
                        @item.Description.Substring(0,20)

                        <text>...</text>
                    }
                    else
                    {
                        @item.Description
                    }
                </td>
                <td>

                    <a class="btn btn-primary mb-2 " asp-controller="products" asp-action="remove" asp-route-productid="@item.Id">Sil</a>
                    <a class="btn btn-primary mb-2" asp-controller="products" asp-action="update" asp-route-productid="@item.Id">Guncelle</a>
                    <a class="btn btn-primary mb-2" asp-controller="products" asp-action="getbyid" asp-route-productid="@item.Id">Urun icerik sayfasina git</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary mb-3" asp-controller="products" asp-action="index">Urunler sayfasina git</a>
   